<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prototipo -- {% block title %} Solvo {% endblock %} </title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" >
{% block css %} {% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/test/">{% block mitcu%} Index {% endblock %}</a>
    </div>
<p class="navbar-text navbar-right" style="margin-right:10px;">Kenneth Alvarez </p>

  </div>
</nav>

<div class="container">
{% block content%}

{% endblock %}
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
  $(".b1").click(function(){
    $.get("http://localhost:8000/test/",{"option":'del',"pk":$(this).val()}, function(data){
      
    });
  });
  
  </script>
{% block js %} {% endblock %}
</body>
</html>
