
{% block content%}
<div class="container-fluid">
    <div class="row">  
        <form method="POST">
            {{searchForm}}
            {% csrf_token %}
            <div class="col-md-offset-3"> 
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </form>
    </div>
    <div class="row">  
        <div class="col-md-offset-3"> 
            <a type = "button" href="maker/" class='btn btn-success'> Add new</a>
        </div>
    </div>
   
</div>
{% endblock %}


